* body {
    margin: 0 auto;
    padding: 2rem 1.4rem 1rem 1.4rem;
    background-color: #f3f5fc;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    font-family: inter;
    gap: 1rem; 
  }

  @media  (max-width: 1174px) {
    body {
      flex-direction: column;
    }
  }

  @media  (max-width: 1174px) {
    body {
      padding: 1rem;
    }
  }
  