@media screen and (max-width: 1174px) {
  div.section {
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 1174px) {
  .image {
    display: none;
  }
}

@media screen and (max-width: 1174px) {
  .subTitle {
    text-align: center;
    color: #343a40;
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 1174px) {
    .message {
        color: #495057;
        display: flex;
        font-size: 1rem;
        width: 100%;
        text-align: center;
        justify-content: center;
        line-height: 0.1rem;
      }
}
