@media screen and (max-width: 528px) {
    .message {
        flex-wrap: wrap;
        line-height: 1.4rem;
        width: 90%;
      }
}
@media screen and (max-width: 466px) {
    .subTitle {
      line-height: 1.8rem;
      width: 100%;
    }
  }
